body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: lemonchiffon;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
}
